---
layout: page
title: Categories
---

<img src="assets/images/fte_main.png" height="1536" width="1024"/>
<div class="categories">
    {% for category in site.categories %}
    <h2 id="{{ category[0] | slugify }}">{{ category[0] | capitalize }}</h2>
    <ul>
        {% for post in category[1] %}
        <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>